{% extends 'blog/base.html' %}

{% block content %}
        {% for animal in animal %}
        <div class ="col-sm-3 col-md-3">
            <div class="card">
                <img class="card-img-top" id = "{{animal.id_animal}}" src="{{animal.photo}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{animal.id_animal}}</h4>
                    <p class="card-text"> <strong>Race:</strong> {{animal.race}} <br> <strong>Type:</strong> {{animal.type}} <br> <strong>État:</strong> {{animal.etat}} <br> <strong>Lieu:</strong> {{animal.lieu}} </p>
                    <a href="{% url 'animal_detail' id_animal=animal.id_animal %}" class="btn btn-primary">Plus details</a>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}