{% extends 'blog/base.html' %}

{% block content %}
<div>
    <div class="card h-100">
        <img class="card-img-top" id = "{{animal.id_animal}}" src="{{animal.photo}}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{animal.id_animal}}</h5>
        <p class="card-text"> <strong>Race:</strong> {{animal.race}} <br> <strong>Type:</strong> {{animal.type}} <br> <strong>État:</strong> {{animal.etat}} <br> <strong>Lieu:</strong> {{animal.lieu}} </p>
        <a href="#" class="invisible">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}