{% load static %}
<html>
    <head>
        <title>Farm</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Farm</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/animals">Animals</a></li>
                    <li><a href="/equipements">Equipements</a></li>
                </ul>
            </nav>
        </div>
        <div class="container-fluid text-center bg-grey">
            <div class="row text-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    <footer>
        <p>Copyright - Paulo Henrique DINIZ FERNANDES. </p>
    </footer>
    </body>
</html>