{% extends 'blog/base.html' %}

{% block content %}
<div class ="col-sm-3 col-md-3">
    <div class="card">
        <img class="card-img-top" id = "{{equipement.id_equip}}" src="{{equipement.photo}}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{equipement.id_equip}}</h4>
            <p class="card-text"><strong>Disponibilité: </strong> {{equipement.disponibilite}} </p>
            <p><strong>Animals:</strong>
                {% for animal in animal %}
                {{animal.id_animal}} <br>
                {% endfor %}
            </p>
            <a href="" class="invisible">Plus details</a>
        </div>
    </div>
</div>
{% endblock %}